@import "tailwindcss";

:root {
  --background: transparent;
  --foreground: #000000;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-domine: var(--font-domine);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: transparent !important;
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif, var(--font-domine), serif;
}

a:hover {
  text-decoration: underline;
}


