@import "tailwindcss";

:root {
  --background: #ffffff;
  --text: #111111;
  --font: Inter, sans-serif;
  --greenVelascosa: #00ff00;
  --grayVelascosa: #1c1c1c;
}

html {
  scroll-behavior: smooth;
}

html.dark {
  --background: #1c1c1c;
  --text: #fff;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: var(--font);
  transition: background-color 0.3s ease, color 0.3s ease;
}